body {
    background: #f0f2f5;
}

.l-header {
    display: block;
}

.l-menu {
    line-height: 64px;
    text-align: left;
}

.l-content {
    min-height: 600px;
    padding: 30px;
}

.l-footer {
    text-align: center;
}